node_modules
dist
dist-ssr
*.local
.env.local
.env.*.local
src/types/auto-imports.d.ts
src/types/components.d.ts

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Playwright auth state
e2e/.auth/
